*{
  margin: 0px;
  padding: 0;
  
}
nav{
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
}
.phone-div{
  display: flex;
  background-color: black;
  color: white;
  width: 1440px;
  
}
.this-is-phone{
  margin-top: 239px;
  margin-left: 193px
}
.phone-image{
 
  width: 302px;
  height: 36px;
  margin-left: 193px;
 margin-top: 239px;
  
  font-family: 'Dot Matrix';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;

}
.nothing-event-box{
  width: 374px;
height: 72px;
display: flex;
font-family: 'Dot Matrix';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 100%;
margin-top: 410;
margin-left: 961;

letter-spacing: 0.04em;

color: #FFFFFF;
}
.nothing-event-box,h2{
  width: 374px;
  height: 72px;
  
  font-family: 'Dot Matrix';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  
  
  letter-spacing: 0.04em;
  
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.nothing-event-box,p{
  width: 289px;
height: 36px;

font-family: 'Inconsolata';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 100%;
color: #FFFFFF;
flex: none;
order: 1;
flex-grow: 0;
}
.button-learn{
  width: 100px;
height: 22px;

font-family: 'Inconsolata';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 100%;

color: #000000;


}
.feels-like-div{
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 8px;

width: 419px;
height: 22px;
left: 961px;
top: 894px;

} 
.feels-like{
  width: 391px;
height: 22px;

font-family: 'Dot Matrix';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 100%;
/* identical to box height, or 22px */

letter-spacing: 0.04em;

color: #FFFFFF;



}
.feels-like-circle{
  width: 20px;
height: 20px;

background-color: #D21414;
border-radius: 25px;
margin-bottom: 0px;
}
.white-background-frame21{
  display: flex;
flex-direction: row;
align-items: center;
padding: 56px 60px;
gap: 64px;

width: 1437px;
height: 230px;
left: 0px;
top: 1067.85px;

background: #FFFFFF;
}
.wallpaer-t3-Gq{
  width: 240px;
  height: 54px;
  align-items: center;
  justify-content: center;
  
}
.image{
  display: flex;
  justify-content: center;

}
.earbud-div-whiteearbud{
  
width: 1440px;
height: 800px;

background: black;
}
.white-earbud-withbox{
  
width: 368px;
height: 370.42px;
margin-left: 60px;
margin-top: 1474px;
}
.sound0of-change{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 40px;
  width: 433px;
  height: 220px;
  left: 504px;
  top: 1549px;
}
.sound0of-change,h2{
  width: 285px;
height: 36px;

font-family: 'Dot Matrix';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 100%;
text-transform: uppercase;
color: #FFFFFF;
}
.sound0of-change,p{
  width: 433px;
  height: 66px;
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 100%;
  text-align: center;
  color: #FFFFFF;
}
.button-buynow{
  width: 102px;
height: 30px;
font-family: 'Inconsolata';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 100%;
letter-spacing: 0.04em;
color: #000000;
}
.white-earbud-withoutbox{

  width: 318.87px;
  height: 311.28px;
  margin-left: -66.46px;
  margin-top: -8.86px;

}
.earbud-div-blackearbud{

  width: 1440px;
  height: 700px;
  left: 0px;
  top: 2055px;
  background: #FFFFFF;
}
.white-earbud-withoutbox{
  margin-top: 133;
  margin-left: 189.58;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
}
.darktones-text{
width: 278px;
height: 72px;
font-family: 'Dot Matrix';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 100%;
text-align: center;
text-transform: uppercase;
color: #000000;
}
.darktones-text,p{
width: 433px;
height: 66px;
font-family: 'Inconsolata';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 100%;
text-align: center;
color: #000000;
}
.button-buynow{
  width: 102px;
height: 30px;
font-family: 'Inconsolata';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 100%;
letter-spacing: 0.04em;
color: white;
}
.white-earbud-withbox{
  width: 359.2px;
  height: 300.09px;
 margin-left: 1008.1px;
  margin-top: 200px;
}
.about-div{
  width: 1440px;
  height: 755px;
  left: 0px;
  top: 2755px;
  background: #EAEDEA;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-about-div{
  width: 1019px;
height: 644px;
margin-left: 3px;
margin-top: 111px;

}
.about-div-text{
  margin-top: 279px;
  margin-left: 1022px;
}
 .section-about-div-text,h2{
  width: 152px;
  height: 36px;
  font-family: 'Dot Matrix';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  color: #000000;
}
.section-about-div-text,p{
width: 357px;
height: 88px;
font-family: 'Inconsolata';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 100%;
color: #000000;
}
footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 70px 60px;
  gap: 118px;
  width: 1440px;
  height: 396px;
  left: 0px;
  top: 3510px;
  
  background: #D9D9D9;
}
.footer-section-aboutus{
  
}







